<ul id="dropdown-events" class="dropdown-content">
    {% for category in eventCategories %}
        <li><a href="{{ path('show_events_by_category',{'slug': category.slug }) }}">{{ category.name }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="#!">Top 10</a></li>
</ul>