<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Feedback</h5>
                <p class="grey-text text-lighten-4">L'équipe liv'lyon s'intéresse à ton avis, n'hésite pas à nous dire ce que tu as pensé de nos articles et/ou du site. Cela nous aidera à nous perfectionner.</p>
            </div>
            <div class="col l4 offset-l2 s12 center-align">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ path("liv_app_contact") }}">Contact</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Qui sommes-nous ?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Liv'Lyon
            <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/livlyonofficial/"><img src="{{ asset('img/fb-icon.png') }}" height="60"></a>
            <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/livlyonofficial/"><img src="{{ asset('img/ig-icon.png') }}" height="60"></a>
            <a class="grey-text text-lighten-4 right" href="https://www.youtube.com/channel/UCxOTtHjVkyRWHtBMbKNt_6Q"><img src="{{ asset('img/yt-icon.png') }}" height="60"></a>

        </div>
    </div>
</footer>