{% extends '@LIVApp/Default/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">.
            <div class="row" style="align-content: center">
                <div>
                    <div class ="center">
                        <h3 class="center-align">Liv'Lyon</h3>
                        <p class="justify">
                            Liv'lyon c’est une association étudiante de <a href="https://www.ynov.com/campus/lyon/">Lyon Ynov Campus</a> regroupant quatre projets de la chasse au trésor jusqu'à l'organisation d'événements et la rédaction d'un magazine dédié. Sur le <a href="https://livlyon.com">site LivLyon</a>,
                            tu vas pouvoir suivre toute notre actualité et les meilleurs endroits ou événements à connaître à Lyon.<br>
                            Nous te proposons de découvrir <a href="https://livlyon/places/common">tous nos articles</a> sur des lieux, des bars, des restaurants, des musées, etc. Nous te tenons au courant des <a href="https://livlyon/events/common">derniers événements à Lyon</a>, des expositions artistiques, culturelles en passant par des concerts ou soirées clubs pour te déhancher jusqu'au petit matin.
                        </p>
                        <p class="justify">
                            Bien entendu, chaque lieu que nous te partageons sera accompagné <strong>de l'avis de l'équipe Liv'Lyon Rédac Web</strong>
                        </p>
                        <p class="justify">
                            A l'origine de toute la communication de l'association sur nos réseaux sociaux et notre site web, c'est nous :  L’équipe Liv'Lyon <strong>Rédac Web</strong>
                            Notre team se compose de deux développeurs, deux community managers, deux photographes, une rédactrice web et notre chef de projet.
                        </p>
                        <p class="justify">
                            Si te souhaitez que notre équipe mette en avant un bar, un lieu atypique ou un événement de la métropole lyonnaise, n'hésite pas à nous contacter.<br>
                            Tu peux également nous faire des retours sur notre site et nous partager tes idées.
                        </p>
                        <p class="justify">
                            Nous n'avons qu'une <strong>seule vocation</strong>, te faire sortir et découvrir la <strong>ville lumière</strong> grâce à <strong>notre sélection de pépites et nos bons plans</strong>
                        </p>
                    </div>
                    <div class="center-align">
                        <h3><strong>Les 4 pôles de Liv'Lyon</strong></h3>
                        <div class="col s12 m12 center">
                            <img class="material-icons rounded" data-caption="A picture of a way with a group of trees in a park" width="27%" src="{{ asset('img/logo_livlyon_event.png') }}">
                            <img class="material-icons rounded" data-caption="A picture of a way with a group of trees in a park" width="27%" src="{{ asset('img/logo_livlyon_gonard.png') }}">
                            <img class="material-icons rounded" data-caption="A picture of a way with a group of trees in a park" width="27%" src="{{ asset('img/logo_livlyon_treasurehunt.png') }}">
                            <img class="material-icons rounded" data-caption="A picture of a way with a group of trees in a park" width="27%" src="{{ asset('img/logo_livlyon_redac_web.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

