.nav-wrapper{
    background-color: #60539A;
}
.dropdown-content li a{
    color: #60539A;
}

.parallax1-title{
    color: white;
}
.page-footer{
    background-color: #60539A;
}
#mapid {
    height: 480px;
    margin-bottom: 2em;
    z-index: 0;
}

.placesPresentation{
    margin-top: 2em;
}
.tagName{
    font-size: 0.6em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: lightgray;

    color: darkgray;
}
.tag:hover {
    color: white;
    background-color: #ec311d;
    cursor: pointer;
}
