.nav-wrapper{
    background-color: #064191;
}
.dropdown-content li a{
    color: #064191;
}

.parallax1-title{
    color: white;
}
.page-footer{
    background-color: #064191;
}
#mapid {
    height: 480px;
    margin-bottom: 2em;
}

.placesPresentation{
    margin-top: 2em;
}