#short_description{
    text-align: center;
    font-style: italic;
    font-weight: bold;

    font-size: 1em;
    margin-bottom: 2em;
}

#address{

    margin-bottom: 1em;
    padding-bottom: 1em;
}

.placeLocation{
    margin-top: 1em;
}